<p>vehicles works!</p>
<input type="text" [(ngModel)]="term" (keyup)="filter()">

<label for="">column</label>
<select name="" id="" [(ngModel)]="colums">
   <option>color</option>
   <option>type</option>
   <option>id</option>
   <option>manufacturer</option>
   <option>model</option>
   <option>fuel</option>
</select>

<label for="">order</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">ascending</option>
    <option value="desc">descending</option>
</select>
<button (click)="sort()">sort</button>

<table>
    <thead>
        <tr>
            <th>vehicles</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fule</th>
            <th>color</th>
            <th>image</th>
            <th>cost</th>
            <th>id</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vahicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" alt="" width="100px" height="100px" ></td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.id}}</td>
            <td>
                <button (click)="view(vehicle.id)">view</button>
                <button (click)="edit(vehicle.id)">Edit</button>
                <button (click)="delete(vehicle.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>