<div class="perent">
    <div class="left">
        <h1>my website</h1>
        <hr>
        <a routerLink="home">home</a>
        <a routerLink="welcome">welcome</a>
        <a routerLink="data-binding">data-binding</a>
        <a routerLink="calculator">calculator</a>
        <a routerLink="Rectangle">Rectangle</a>
        <a routerLink="circle">circle</a>
        <a routerLink="bmi">bmi</a>
        <a routerLink="dice">dice</a>
        <a routerLink="directive-pipes">directive-pipes</a>
        <a routerLink="Employees">Employees</a>
        <a routerLink="filpkart">filpkart</a>
        <a routerLink="vehicles">vehicles</a>
        <a routerLink="accounts">accounts</a>
        <a routerLink="filpkart-page">filpkart-page</a>
        <a routerLink="createvehicle">CreateVehicle</a>
        <a routerLink="createaccount">CreateAccount</a>
        <hr>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>

